*{
    padding: 0;
    margin: 0;
    border: 9;
}
body{
    background-color: rgb(30, 58, 138);
}

.container{
    background-color:rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    margin: 110px;
    min-height: 500px;
    width: 800px;
    border-radius: 40px;

}
.h3{
    color:rgb(30, 41, 90);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    font-size: 40px;
}

.input{
    background-color: black;
    border-color: rgb(193, 197, 212);
    border-radius: 25px;
    color: rgb(150, 150, 150);
    font-size: 20px;
    font-style: italic;
    display: inline;
    margin: 10px;
    margin-left: 80px;
    height: 50px;
    width: 400px;
}
.add_btn{
    background-color:rgb(16, 163, 127);
    margin-left: 40px;
    height: 50px;
    width: 100px;
    border-color:green;
    color: rgb(30,30,30);
    border-radius: 30px;
    border: solid black;
    cursor: pointer;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}
.add_btn:hover{
    background-color: rgb(13, 155, 98);
}
.list {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 700px;
    margin-left: 50px;
}

.list li {
    background-color: rgb(250, 235, 210);
    font-size: 30px;
    display: flex;
    align-items: center;
    min-height: 50px;
}

.list button {
    background-color: rgb(184, 184, 222);
    border-radius: 20px;
    color: rgb(30, 30, 30);
    border-color:rgb(99, 132, 255);
    width: 80px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;

}
.list button:hover{
    background-color: rgb(142, 142, 190);
    border-color: aquamarine;
}


.list li button:first-of-type {
    margin-left: auto;
}

.list li button:last-of-type {
    margin-left: 12px;
}

